<!DOCTYPE html>
<html lang="en">
<head>
  
    <title>Courses</title>
</head>
<body>
  
        <h1>
            The courses:
        </h1>
        <ul>
           {% for course in courses %}
                <li>Course name: {{ co }} last name: {{ student.lastName }}</li>
           {% endfor %}
        </ul>
        <h2>
            Add new course
        </h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p  }}

            <input type="submit">
        </form>
  
</body>
</html>