<!DOCTYPE html>
<html lang="en">
<head>
  
    <title>Details</title>
</head>
<body>
   
    <section>
        {{ student.firstName }} 
          <form method="POST">
              {% csrf_token %}
              <select name="course">
                  {% for c in notRegisteredCourses %}
                      <option value="{{c.id}}"> {{ c }}</option>
                  {% endfor %}
              </select>
              
              <input type="submit" value="Add Course">
          </form>
          <ul>
             {% for c in student.courses.all %}
                 <li> {{ c.courseName }}</li>
             {% endfor %}
          </ul>
      </section>
      <a href="{% url 'students' %}">Student page</a>,,
      <a href="{% url 'courses' %}">Course page</a>
      
  
</body>
</html>