<!DOCTYPE html>
<html lang="en">
<head>
  
    <title>Students</title>
</head>
<body>
  
        <h1>
            The students:
        </h1>
        <ul>
           {% for student in students %}
                <li><a href="{% url 'details' student.id %}">student {{ student.id }}</a>ID:{{student.id}} ---name: {{ student.firstName }}---last name: {{ student.lastName }}---
                     Age: {{ student.age }}---Phone number: {{ student.phoneNum }}</li>
           {% endfor %}
        </ul>
        <h2>
            Add new student
        </h2>
        <form method="POST">
            {% csrf_token %}
            {{ form }}

            <input type="submit">
        </form>
  
</body>
</html>